<!DOCTYPE html>
<html>
<head>
  {% include 'bootstrap.html' %}
  <title>About IndeKedIn</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class='container'>
  <h1 class='text-center mt-2 mb-4'>
    Abuout IndeKedIn
  </h1>
  <p>Learn more about our company and our mission.</p>
    <p class='lead'>
      IndeKedIn is a company that provides a platform for individuals to connect with each other and share their experiences.
      </p>
      <p class='lead'>
      As a mission-driven company, IndeKedIn created our ESG commitments to go hand in hand with what we do best. We help all people get jobs. How we do that matters. By reducing our environmental footprint, making job search faster and simpler, removing bias and barriers to employment, and building sustainable equity for our people, we get closer to achieving our mission.
        </p>
        <p class='lead'>
      This work is continuous, and our learnings are constantly growing. We are tackling systemic, deeply-rooted issues. As we work to make our ESG commitments a reality, we strive to be transparent about our progress and accountable to job seekers, employers, and our communities.
    </p>
  </div>
  {% include 'footer.html' %}
</body>
</html>