<h4>Application Form</h4>

<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
  <label>Full Name</label><br>
  <input type="text" name="full_name" placeholder="Name"><br>
  </div>

    <div class="mb-2">
      <label>Email</label><br>
  <input type="text" name="email" placeholder="Email@mail.com"><br>
    </div>

  <div class="mb-2">
  <label>LinkedIn URL</label><br>
  <input type="text" name="linkedin_url" placeholder="https://linkedin.com/in/name"><br>
    </div>

  <div class="mb-2">
  <label>GitHub URL</label><br>
  <input type="text" name="github_url" placeholder="https://github.com/name"><br>
  </div>
  <div class="mb-2">
    <label>Education</label><br>
    <textarea name="education"></textarea><br>
  </div>
<div class="mb-2">
  <label>Work Experience</label><br>
  <textarea name="work_experience"></textarea><br>
</div>
  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="text" name="resume_url"><br>
    </div>
    <div >
      <input type="submit">
    </div>
</form>