<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a  target="_blank" href="https://indekedinv2.onrender.com" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a  target="_blank" href="https://indekedinv2.onrender.com/positions" class="nav-link px-2 text-muted">Positions</a></li>

      <li class="nav-item"><a  target="_blank" href="https://indekedinv2.onrender.com/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2024 IndeKedIn, Inc</p>
  </footer>
</div>