        <!DOCTYPE html>
        <html>
          <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{company_name }} Careers</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <style>
              #banner {
                width: 100%;
                height: 360px;
                object-fit: cover;
                margin-bottom:16px;
              }
            </style>
          </head>
          <body>
            {% include 'nav.html' %}
            <img class="img-fluid" id="banner" src="static/banner.jpg" alt="IndeKedIn Careers">
            <div class='container'>
              <h1 class='text-center mt-2 mb-4'>
                {{company_name}} Careers
              </h1>
              <div class="row" style="margin-bottom:16px">
              <div class="col-md-6">
              <p class='lead'>
                IndeKedIn is more than just a career site – we are a dedicated team of industry experts, tech enthusiasts, and career advocates united by a common mission: to revolutionize the way professionals connect with opportunities. With a commitment to excellence, innovation, and inclusivity, we've created a platform that goes beyond traditional job search to offer a comprehensive ecosystem for career development.
              </p>
              </div>
              <div class="d-none d-md-block col-6">
                <img src="/static/people.png"style="height:320px;border-radius:4px;">
              </div>
                </div>
              <h2 class='text-center mt-4'>Open Positions</h2> 
              <div>
                {% for job in jobs %}
                 {% include 'jobitem.html' %}
                {% endfor %}
              </div>
              <div class='text-center'>
                <a href="mailto:hello@indeKedIn.ai?subject=Questions%20about%20available%20positions&body=My%20name%20is%3A%0D%0AMy%20question%3A" class='btn btn-primary btn-lg'>Contact Us</a>
              </div>
            </div>
            {% include 'footer.html' %}
          </body>
        </html>
